@charset "UTF-8";

.bookTitle {
    text-align: center;
}

.bookTitle img {
    width: 80%;
    margin: 0 auto;
}

.wakame {
    text-align: center;
}

.wakame img {
    width: 12%;
    height: 30%;
}