@charset "UTF-8";

/* ==============================================
   ==================== Base ====================
   ============================================== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article,
section,
nav,
aside,
header,
footer {
    display: block;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

li {
    list-style: none;
}


/* ==============================================
   ==================== Body ====================
   ============================================== */
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #afa;
    color: #333;
    font-size: 100%;
    -webkit-text-size-adjust : none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "メイリオ", Meiryo,
                 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "MS Pゴシック", "MS PGothic",
                 "Osaka", Osaka, sans-serif;
    font-style: normal;
    font-weight: bold;
}


/* ==============================================
   ==================== Main ====================
   ============================================== */
.page {
    margin: 0 auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.button {
    position: relative;
    z-index: 100;
    top: 45%;
    width: 10%;
    height: 10%;
    background-color: #ff4;
    border: 2.5px solid #666;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: All 0.2s linear;
    cursor: pointer;
}

.button:hover {
    background-color: #f93;
    -webkit-box-shadow: 2px 2px 4px #666;
    -moz-box-shadow: 2px 2px 4px #666;
    box-shadow: 2px 2px 4px #666;
}

.prevButton {
    left: -5%;
    float: left;
}

.nextButton {
    right: -5%;
    float: right;
}


/* ================================================
   ==================== Footer ====================
   ================================================ */
.siteFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #5a5;
    text-align: center;
}

.siteFooter p {
    font-size: 13px;
}

.siteFooter p a {
    color: #ff8;
    -webkit-transition: color linear 0.2s;
    -moz-transition: color linear 0.2s;
    transition: color linear 0.2s;
}

.siteFooter p a:hover {
    color: #ff3;
}